/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--fac-bg-secondary);
  color: var(--fac-text-primary);
}

.app-wrapper {
  min-height: 100vh;
  padding: 4rem;
}